/node_modules
/vue/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.idea
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/app/Http/Controllers/TestController.php
composer.lock
_ide_helper.php
!/.phpstorm.meta.php
/public/js/app.js
/public/js/app.js.map
/public/css/app.css
/public/css/app.css.map
/public/css/am.css
/public/css/am.css.map
/public/css/missing_lessons.css
/public/css/missing_lessons.css.map
/public/mix-manifest.json
public/fonts/vendor/summernote/dist/summernote.eot
public/fonts/vendor/summernote/dist/summernote.ttf
public/fonts/vendor/summernote/dist/summernote.woff
public/fonts/vendor/summernote/dist/summernote.woff2
/public/css/am/
log_maps_api.txt
/public/css/sadvipra
/public/css/sadvipra.css
/public/css/sadvipra.css.map
