.appEasterEgg_textLine {
  color: $txt-greyMd;
  font-size: 14px;
  margin-bottom: 8px;
}

.appEasterEgg_form {
  margin-top: 32px;
  width: 300px;
}
.appEasterEgg_formSave {
  width: 300px;
}

.appEasterEgg_list {
  margin-top: 32px;
}
.appEasterEgg_listTitle {
  color: $txt-greyMd;
  font-size: 16px;
  margin-bottom: 16px;
}
.appEasterEgg_listItem {
  color: $txt-greyMd;
  font-size: 14px;
  margin-bottom: 8px;
}

@media (min-width: 1024px) {
  .appEasterEgg {
    display: flex;
    justify-content: space-between;
  }
  .appEasterEgg_main {
    width: 40%;
  }
  .appEasterEgg_list {
    width: 40%;
    margin-top: 0;
  }
}
