$body-bg: #f8fafc;

$white: #fff;
$red: #F55151;
$green: #32DD57;
$blue: #2ca5e0;
$purple: #796ABC;
$marga: #FFB34E;
$app_link: $marga;
$margaMd: rgba(255, 179, 78, 0.36);
$margaLt: #ffca99;
$margaVeryLT: rgba(255, 179, 78, 0.1);
$marga-hover: #e4a145;
$filter_border: rgba(34, 34, 34, 0.10);

$pastelGreenDark: #468578;
$pastelGreen: #64a0c2;

$placeholder_color: #666;

$telegramGradient: #0987C6;
$telegram: #35ADE1;
$facebook: #3e5790;
$google: #D34836;
$mailru: #005cf2;
$yandex: #f80000;

$txt_border: #e6e6e6;
$txt_tools: #A7A7A7;
$txt_greyLt: #919191;
$txt_greyMd: #646464;
$txt_subtitle: #808080;
$txt_grey: #222;
$txt_black: #000;
$txt_blackLt: #434B56;
$txt_badge: #544448;
$txt_badge_acarya: #C346D8;
$txt_diarySattavaText: #B4B4B4;
$txt_green: #799D92;
$txt_blue: #5880f7;

$placeholder_color: $txt_border;
$boder_color: $txt_border;
$border_color: $txt_border;
$question_title: #2c2c2c;
$question_subtitle: #626262;
$question_date: #666;
$question_separator: #adadad;

$sadvipra-placeholder: #d4d4d4;
$input-border: #B2B2B2;
$sadvipra-txt: #707070;
$sadvipra-border: $sadvipra-txt;
$brand-menu: #707070;
$brand-menu-bg: #1B1C22;
$sadvipra-color: #FC6D35;
$brand-menu-icon: $sadvipra-color;


$border: #eeeeee;
$border-element: $txt_border;
$border-button: #ccc;
$border-marga: #FFB34E;
$bg-badge: #eeeded;
$bg-badge-acarya: #fbf2fc;
$bg-item: #f2f2f2;
$bg-white: #fff;
$bg-hover: #dedede;
$bg: #f9f9f9;
$bg-odd: rgba(91, 91, 91, 0.1);
$bg-even: $bg;

$form_txt_field: $txt_subtitle;

$link-green: #5d9d34;
$link-orange: #FF8900;
$link-blue: #263BAF;
$link-purple: #AA52C4;
$link-purpleMd: #6852C4;
$link-blueLt: #0987C6;

/* pastel1 */
$pastel1-bg-contrast-1: #FEFEFE;
$pastel1-bg-contrast-2: #F8F7F6;
$pastel1-button-bg: #DC6A3A;
$pastel1-button-bg-light: #F79070;
$pastel1-icon: #20717C;
$pastel1-icon-bg: #DFEBEC;
$pastel1-icon-border: $pastel1-icon;
$pastel1-line: #A1A6A8;
$pastel1-txt-light: #B9BDC1;
$pastel1-txt-dark:#1B324B;

$pastel-red: #F26165;
$pastel-green: $pastel1-icon;

