/***************** scale effects *********************/
/*
<div class="effectScale top left">
    <div class="effectScale-target">

    </div>
</div>
*/
.effectScale > .effectScale-target {
    transform: scale(0);
    will-change: transform;
    transition: transform .3s cubic-bezier(.4,0,.2,1);
    transition: transform .3s cubic-bezier(.4,0,.2,1),-webkit-transform .3s cubic-bezier(.4,0,.2,1);
}
.effectScale.top.left > .effectScale-target {
    transform-origin: 0 0;
}
.effectScale.top.right > .effectScale-target {
    transform-origin: 100% 0;
}
.effectScale.bottom.left > .effectScale-target {
    transform-origin: 0 100%;
}
.effectScale.bottom.right > .effectScale-target {
    transform-origin: 100% 100%;
}
.effectScale.open > .effectScale-target {
    transform: scale(1);
}
/***************** end scale effects *********************/

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
    opacity: 0;
}

.linkTransition:hover {
    transform: scale(1.1);
    transition: .3s transform linear;
    cursor: pointer;
}

