input[type="radio"]:focus {
    outline: none;
    box-shadow: none;
}
.dhrtRadioView {
    border: 1px solid #e6e6e6;
    height: 16px;
    width: 16px;
    min-width: 16px;
    border-radius: 100%;
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
    margin-right: 8px;
    transition-duration: 0.2s;
}
.dhrtRadio-noView {
    opacity: 0;
}
input[type="radio"] {
    position: absolute;
    opacity: 0;
    display: none;
}
.dhrtRadio:hover .dhrtRadioView{
    background: #fff;
}
.dhrtRadio label {
    display: flex;
    align-items: center;
    width: fit-content;
    cursor: pointer;
}
.dhrtRadio label .dhrtRadioView {
    margin-right: 8px;
}
.dhrtRadio input[type=radio] {
    position: absolute;
    margin-top: 4px\9;
    margin-left: -16px;
}
input[type="radio"]:checked + .dhrtRadioView:after {
    content: '';
    position: absolute;
    top: 7px;
    left: 2px;
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: #FFB34E;
    transform: translateY(-50%);
}
.dhrtRadioView:hover {
    border-color: #FFB34E;
}
input[type="radio"]:checked + .dhrtRadioView:after {
    background-color: #FFB34E;
}
input[type="radio"]:checked + .dhrtRadioView {
    border-color: #FFB34E;
}
