$amps: #ff6600;
$am_bg: #F5F0EF;

$txt_blackLt: #434B56;
$miss_less: #406DF7;

$placeholder_color: #666;


$am_color: #F58E56;
$am_link: #FFB34E;
$am_text: #999999;
$am_text_grey: #434B56;
$am_diary_disabled: #FACAB6;
$am_diary_text: #fff;
$am_diary_spot: #5FE06E;
$am_diary_green: #87C35B;
$am_diary_sattva_green: #75F01C;
$am_diary_sattva_yellow: #FFBA00;
$am_diary_sattva_red: #FF4343;
$am_diary_greenLt: #C4DCAC;
$am_diary_orangeLt: #f5c4aa;
$am_diary_orange: #f58e56;
$amDiary-progressBarBg: #F3EEEC;
$amDiary-progressBar: #D3D3D3;
$amDiary-progressBg: #FFFAF8;
$am_line: #BFBFBF;
$am_diarySuper_disabled: $am_diary_greenLt;
$amDiary-barColorBg-super: $am_diary_greenLt;
$amDiary-barColor-super: #87C35B;
$amDiary-barColorBg: $am_diary_orangeLt;
$amDiary-barColor: $am_diary_orange;
$amDiary-overlayColor: $am_bg;
$amDiary-barBackColor: $am_bg;
$am_diary_check: #45CB4A;
$mobile_width: 375px;
$am_input: #BCBCBC;
$am_diary_checkBorder: $am_input;
$bg-profile: #F5F6F8;
$disabled: #ccc;
$am_colorProfile: #5e82f1;
$am_colorProfileLight: #5880f7;
$am_colorProfileLight2: #9fb3ea;
$am_colorPractices: #7869BC;
$am_colorPracticesLight: #9486D3;

$practices_subtitle: rgba(67, 75, 86, 1);
$practices_title: rgba(67, 75, 86, 0.7);
$practices_border: #e6e6e6;

$amDiary-toolsBg: #F5F0EF;
$amDiary_bg: #FFFAF8;
$amDiary-toolsText: #999999;
$amDiary-toolsLink: #F68B5F;
$amDiary_orange: #F58E56;
$amDiary_green: #87C35B;
$amDiary_radiobox: #86DB41;
$amDiary-settingsGroupBg: #f5f5f5;
$amDiary-settingsGroupBorder: rgba(196, 196, 198, 0.75);
$amDiary-settingsGroupText: #9CA0A5;
$amDiary-settingsGroupArrow: #939393;
$amDiary-settingsGroupTitle: $am_text_grey;


$amDC-bgDark: #f0dfc8;
$amDC-bgLight: #eee1dc;
$amDC-light: #d4b79a;
$amDC-dark: #795833;
$amDC-contrast: #51abb2;

$amSvadhyaya-tools: #818181;
$amSvadhyaya-bg: #FFFBED;
$amSvadhyaya-text: #707070;
$amSvadhyaya-langColor: $amDC-dark;
