
.amUnitStatistics-body,
.amBhuktiStatistics-body{
    padding: 0 12px;
}

.amUnitStatistics-general {
    font-size: 16px;
    margin: 8px 0;
}

.amUnitStatistics-eventsHead {
    font-size: 16px;
}

.amUnitStatistics-eventsListItem {
    margin: 4px 8px;
}

.amUnitStatistics-eventsListItemHead {
    font-size: 14px;
}

.amUnitStatistics-eventsListItemBody {
    margin-left: 8px;
}


.amBhuktiStatistics-areaName {
    font-size: 20px;
}

.amBhuktiStatistics-areaBodyUnit {
    margin-left: 8px;
    margin-bottom: 16px;
}

.amBhuktiStatistics-areaBodyUnitName {
    font-size: 18px;
}

.amUnitStatistics-nan {
    font-size: 18px;
}
